.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 66px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

#container {
  display:flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-bottom: 44px;
  justify-content: space-between;
}

.alive {
  background-color:#990000;
}

.dead {
  background-color: #ffc0c0;
}

.tile {
  height: 10px;
  width: 10px;
  border: 1px solid black;
  margin: 1px;
}

button {
  margin: 22px;
}